:root {
  /*==================FONT-TYPES======================*/
  --homeMainTitle: TS_Block, sans-serif;
  --title-poppins: "Poppins", sans-serif;
  --titleSkills: Akira, sans-serif;

  /*==================FONT-Weight======================*/
  --light-100: 100;
  --light-200: 200;
  --light-300: 300;
  --regular-400: 400;
  --bold-600: 600;

  /*==================FONT-Size======================*/
  --noneActiveText: grey;
}

/*================== CUSTOM-FONTs ======================*/
@font-face {
  font-family: Akira;
  src: url("/assets/fonts/Akira.otf");
}
@font-face {
  font-family: TS_Block;
  src: url("/assets/fonts/TS_Block.ttf");
}

/*================== BODY/RESET ======================*/

* {
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  max-width: 1920px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*================== HOME ======================*/
#home {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.nav-Container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
}
.navbar {
  margin-left: 50px;
  margin-top: 90%;
}
nav ul li a {
  font-family: var(--title-poppins);
  font-size: 50px;
  font-weight: var(--light-100);
  color: var(--noneActiveText);
}
.navbar .active {
  color: white;
}

/*================== ABOUT ======================*/

.about {
  margin-top: 10%;
}
.aboutContainer {
  width: 90%;
}
.aboutContainer a {
  color: var(--noneActiveText);
}
.aboutContainer h1 {
  font-family: var(--titleSkills);
  font-size: 74px;
  text-align: left;
  margin-top: 35%;
}
.gameName {
  padding-top: 20px;
}
.aboutContainer h2 {
  font-family: var(--homeMainTitle);
  font-size: 18px;
  margin-left: 100px;
  letter-spacing: 2px;
  padding-top: 10px;
  transition: 0.2s all ease;
}

.aboutContainer .active {
  color: white;
}
/*================== GAMES ======================*/
.gameContainer button {
  width: 300px;
  height: 50px;
  background-color: rgb(47, 102, 102);
  margin-left: 50%;
  margin-top: 10%;
  border-radius: 5px;
  border: none;
}
.gameContainer button a {
  font-size: 20px;
  font-family: var(--title-poppins);
  font-weight: var(--bold-600);
}
.gameImages {
  margin-left: 50%;
  margin-top: 10%;
}
.gameImages img {
  height: 300px;
  margin-top: 50px;
}
/*================== MEDIA ======================*/

@media screen and (min-width: 1025px) {
}
