:root {
  /*==================FONT-TYPES======================*/
  --homeMainTitle: TS_Block, sans-serif;
  --title-poppins: "Poppins", sans-serif;
  --titleSkills: Akira, sans-serif;

  /*==================FONT-Weight======================*/
  --light-100: 100;
  --light-200: 200;
  --light-300: 300;
  --regular-400: 400;
  --bold-600: 600;

  /*==================FONT-Size======================*/
  --noneActiveText: grey;
}

/*================== CUSTOM-FONTs ======================*/
@font-face {
  font-family: Akira;
  src: url("./assets/fonts/Akira.otf");
}
@font-face {
  font-family: TS_Block;
  src: url("./assets/fonts/TS_Block.ttf");
}

/*================== BODY/RESET ======================*/

* {
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*================== HOME ======================*/
#home {
  max-width: 100%;
}
.nav-Container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
}
.navbar {
  margin-left: 0.5%;
}
.text-hover {
  font-family: var(--title-poppins);
  font-size: 230px;
  font-weight: var(--bold-600);
}
.text-hover:hover {
  animation-name: anim;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

@keyframes anim {
  10% {
    font-size: 240px;
  }
  50% {
    font-size: 235px;
  }
  100% {
    font-size: 230px;
  }
}
/*================== MEDIA ======================*/

@media screen and (max-width: 1441px) {
  .text-hover {
    font-size: 220px;
  }
}
@media screen and (max-width: 1201px) {
  .text-hover {
    font-size: 200px;
  }
}
@media screen and (max-width: 981px) {
  .text-hover {
    font-size: 140px;
  }
  .text-hover:hover {
    animation-name: none;
    animation-duration: 0s;
  }
}
@media screen and (max-width: 641px) {
  .text-hover {
    font-size: 120px;
  }
}
@media screen and (max-width: 481px) {
  .text-hover {
    font-size: 80px;
  }
}
