:root {
  /*==================FONT-TYPES======================*/
  --homeMainTitle: TS_Block, sans-serif;
  --title-poppins: "Poppins", sans-serif;
  --titleSkills: Akira, sans-serif;

  /*==================FONT-Weight======================*/
  --light-100: 100;
  --light-200: 200;
  --light-300: 300;
  --regular-400: 400;
  --bold-600: 600;

  /*==================FONT-Size======================*/
  --noneActiveText: grey;
}

/*================== CUSTOM-FONTs ======================*/
@font-face {
  font-family: Akira;
  src: url("./assets/fonts/Akira.otf");
}
@font-face {
  font-family: TS_Block;
  src: url("./assets/fonts/TS_Block.ttf");
}

/*================== BODY/RESET ======================*/

* {
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  max-width: 1920px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*================== HOME ======================*/
#home {
  max-width: 1920px;
}
.nav-Container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
}
.navbar {
  margin-left: 50px;
}
nav ul li a {
  font-family: var(--title-poppins);
  font-size: 200px;
  font-weight: var(--bold-600);
}
nav ul li a:hover {
  animation-name: anim;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  font-weight: var(--light-100);
}
@keyframes anim {
  0% {
    font-weight: var(--bold-600);
  }
  10% {
    letter-spacing: -2px;
    font-weight: var(--regular-400);
  }
  20% {
    font-weight: var(--light-300);
  }
  30% {
    letter-spacing: -7px;
    font-weight: var(--light-200);
  }
  40% {
    letter-spacing: -2px;
    font-weight: var(--light-100);
  }

  50% {
    letter-spacing: 0px;
    font-weight: var(--light-200);
  }
  60% {
    letter-spacing: 2px;
    font-weight: var(--light-200);
  }

  70% {
    letter-spacing: 7px;
    font-weight: var(--light-200);
  }
  80% {
    letter-spacing: 2px;
    font-weight: var(--light-200);
  }
  90% {
    letter-spacing: 0px;
    font-weight: var(--light-200);
  }
  100% {
    letter-spacing: 0px;
    font-weight: var(--light-100);
  }
}
/*================== MEDIA ======================*/

@media screen and (max-width: 1441px) {
  nav ul li a {
    font-family: var(--title-poppins);
    font-size: 170px;
    font-weight: var(--bold-600);
  }
}
