:root {
  /*==================FONT-TYPES======================*/
  --homeMainTitle: TS_Block, sans-serif;
  --title-poppins: "Poppins", sans-serif;
  --titleSkills: Akira, sans-serif;

  /*==================FONT-Weight======================*/
  --light-100: 100;
  --light-200: 200;
  --light-300: 300;
  --regular-400: 400;
  --bold-600: 600;

  /*==================FONT-Size======================*/
  --noneActiveText: grey;
  --noneHover: rgb(160, 160, 160);
}

/*================== CUSTOM-FONTs ======================*/
@font-face {
  font-family: Akira;
  src: url("./assets/fonts/Akira.otf");
}
@font-face {
  font-family: TS_Block;
  src: url("./assets/fonts/TS_Block.ttf");
}

/*================== BODY/RESET ======================*/

* {
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  max-width: 100%;
  max-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
/*================== Hamburgermenu ======================*/
.hamburger-menu {
  display: none;
}
#menu-toggle {
  display: none;
}
#menu-open {
  transition: 300ms all;
  margin-left: 20px;
  margin-top: 15px;
  cursor: pointer;
}
#menu-toggle:checked + label i {
  transition: 300ms all;
}

#menu-toggle:checked ~ .menu ul li {
  transform: translateX(100%);
  transition: 300ms all;
}
.menu {
  transform: translateX(-100%);
  position: absolute;
}
.menu nav ul li {
  width: 100vh;
  background-color: rgba(41, 41, 41, 0.95);
}
.menu nav ul li a {
  padding-left: 10%;
}
.hamburger-menu i {
  font-size: 30px;
}
.social-media li {
  display: flex;
  flex-direction: row;
}
.menu .social-media li a i {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  color: #fff;
}
.menu .social-media li a i h4 {
  padding: 0 10px;
  color: #fff;
  font-family: var(--title-poppins);
  text-transform: uppercase;
  font-size: 14px;
}

/*================== HOME ======================*/
#home {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nav-Container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
}
.navbar {
  margin-left: 50px;
  margin-top: 80%;
}
nav ul li a {
  font-family: var(--title-poppins);
  font-size: 60px;
  font-weight: var(--light-100);
  color: var(--noneActiveText);
}
.active {
  color: white;
}
.profile {
  margin-top: 10%;
}
.profileContainer {
  width: 90%;
}
.profileContainer h1 {
  font-family: var(--homeMainTitle);
  font-size: 42px;
  text-align: center;
  letter-spacing: 10px;
  padding: 20px;
}
.profileContainer p {
  font-family: var(--title-poppins);
  font-size: 20px;
  letter-spacing: 2px;
}
/* -------------------SOCIAL MEDIA -----------------*/
.socialmedia {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  position: absolute;
  top: 20%;
}

.socialmedia h2 {
  font-family: var(--title-poppins);
  color: var(--noneHover);
}
.socialmedia i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin: 10px 0;
  color: var(--noneHover);
}
.socialmedia i h4 {
  padding: 0 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: var(--title-poppins);
  color: var(--noneHover);
}
.socialmedia i:hover,
.socialmedia h4:hover {
  color: white;
}

/*================== MEDIA ======================*/

@media screen and (max-width: 1640px) {
  #home {
    max-width: 1640px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1191px) and (max-width: 1441px) {
  #home {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
  }

  nav ul li a {
    font-size: 50px;
  }
  .profileContainer h1 {
    font-size: 42px;
    letter-spacing: 8px;
  }
  .profileContainer p {
    letter-spacing: 1px;
  }
}
@media (min-width: 968px) and (max-width: 1190px) {
  #home {
    max-width: 1190px;
    display: grid;
    grid-template-columns: 0.6fr 1fr;
  }

  nav ul li a {
    font-size: 42px;
  }
  .profileContainer h1 {
    font-size: 40px;
    letter-spacing: 5px;
  }
  .profileContainer p {
    letter-spacing: 1px;
  }
}

/*================== SMALL-SCREEN ======================*/

@media screen and (max-width: 967px) {
  #home {
    max-width: 967px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .nav-Container {
    display: none;
  }
  .nav-Container {
    opacity: 0;
  }
  .profileContainer {
    margin-left: 5%;
    width: 100%;
  }
  .profileContainer h1 {
    font-size: 38px;
    letter-spacing: 4px;
  }
  .profileContainer p {
    font-size: 18px;
    width: 95%;
  }
  /*===-------------------BURGER-MENU===*/
  .hamburger-menu {
    display: block;
  }
}

@media screen and (max-width: 769px) {
  #home {
    max-width: 769px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .nav-Container {
    display: none;
  }
  .profileContainer {
    margin-left: 5%;
    width: 100%;
  }
  .profileContainer h1 {
    font-size: 32px;
    letter-spacing: 3px;
  }
  .profileContainer p {
    width: 90%;
    font-size: 16px;
  }
}

@media screen and (max-width: 641px) {
  #home {
    max-width: 630px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .nav-Container {
    display: none;
  }
  .profileContainer {
    margin-left: 5%;
  }
  .profileContainer p {
    width: 95%;
  }
}
@media screen and (max-width: 481px) {
  #home {
    max-width: 95%;
    display: flex;
  }
  .nav-Container {
    display: none;
  }
  .profileContainer {
    margin-left: 8%;
    width: 100%;
  }
  .profileContainer h1 {
    font-size: 24px;
  }
}
